@charset "utf-8";
ul {
  padding-inline-start: 0px;
}

body {
  width: 98%;
  margin: auto;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

main{
  height: relative;
  margin: 10px 10px 100px;
}

main img {
  width: 70%;
  display: block;
  text-align: center;
  margin: 30px 15%;
}

.contents ul {
  margin: 50px 15% 100px;
}

.contents a {
  display: block;
  text-decoration: none;
}

h1 {
  font-size: 18px;
  color: #a9a9a9;
}

h2 {
  font-size: 22px;
}

h2 span {
  font-size: 20px;
}
