/*タブレット向け*/
@media (max-width: 1000px) {
  header {
    height: 70px;
    background-color: white;
    color: #00ECFF;
  }
  .header-logo {
    float: none;
    text-align: center;
    background-color: #00ECFF;
    color: white;
  }
  .header-list {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .header-list ul {
    display: block;
    float: left;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .header-list a {
    margin: auto;
    text-align: center;
    color: #00ECFF;
    width: 33.3%;
    text-shadow: none;
  }
}

/*スマホ向け*/
@media (max-width: 670px){
  .header-logo, .footer-logo {
    display: block;
    float: none;
    text-align: center;
  }
  footer {
    height: 60px;
  }
  .footer-logo {
    font-size: 15px;
  }
  .copy-container {
    height: 35px;
  }
  .footer-list {
    display: none;
  }
  .copyright{
    font-size: 10px;
    text-align: center;
  }
}
