/*chrome*/
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
  main ul {
    margin: auto;
    width: 100%;
  }
}
/*ie*/
_:-ms-lang(x)::-ms-backdrop, main ul {
  margin: auto 20px auto -20px;
  margin-left: -20px;
  margin-right: 20px;
  text-align: center;
  width: 100%;
}
/*edge*/
@supports (-ms-ime-align: auto) {
  main ul {
    display: block;
    float: left;
    margin: auto 20px auto -20px;
    text-align: center;
    width: 100%;
  }
}

/*タブレット向け*/
@media (max-width: 1000px) {
  main img {
    margin: 80px auto 100px;
  }
}

/*スマホ向け*/
@media (max-width: 670px){
  main img {
    width: 98%;
    margin: 10px auto 10px;
  }
  .button{
    float: none;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
