/*タブレット向け*/
@media (max-width: 1000px) {
  header {
    height: 95px;
    background-color: white;
    color: #00ECFF;
  }
  .header-logo {
    float: none;
    text-align: center;
    background-color: #00ECFF;
    color: white;
  }
  .header-list {
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .header-list ul {
    display: brock;
    float: left;
    margin: auto;
    text-align: center;
    width: 100%;
  }
  .header-list a {
    margin: auto;
    text-align: center;
    color: #00ECFF;
    width: 33.3%;
    text-shadow: none;
  }
}

/*スマホ向け*/
@media (max-width: 670px){
  .header-logo {
    text-align: center;
    margin: auto;
  }

  .button{
    float: none;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
