/*スマホ向け*/
@media (max-width: 670px){
  main img {
    width: 98%;
    margin: 10px auto 10px;
  }
  .button{
    float: none;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
    /*chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) main ul {
      margin: auto;
      text-align: center;
    }
  /*ie*/
  _:-ms-lang(x)::-ms-backdrop, main ul {
    margin: auto;
    margin-left: -20px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
  }
  /*edge*/
  @supports (-ms-ime-align: auto) main ul {
      margin: auto;
      margin-left: -20px;
      margin-right: 20px;
      text-align: center;
      width: 100%;
    }
  }
}
