/*タブレット向け*/
@media (max-width: 1000px) {
  header {
    height: 70px;
  }
  .header-logo {
    float: none;
    text-align: center;
    background-color: #00ECFF;
    color: white;
  }
  .header-list {
    background-color: white;
    color: #00ECFF;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 100%;
  }
  /*chrome*/
  @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .header-list ul {
      display: block;
      float: left;
      margin: auto;
      text-align: center;
      width: 100%;
    }
  }
  /*ie*/
  _:-ms-lang(x)::-ms-backdrop, .header-list ul {
    display: block;
    float: left;
    margin: auto;
    margin-left: -20px;
    margin-right: 20px;
    text-align: center;
    width: 100%;
  }
  /*edge*/
  @supports (-ms-ime-align: auto) {
    .header-list ul {
      display: block;
      float: left;
      margin: auto;
      margin-left: -20px;
      margin-right: 20px;
      text-align: center;
      width: 100%;
    }
  }
  .header-list a {
    margin: auto;
    text-align: center;
    color: #00ECFF;
    width: 33.3%;
    text-shadow: none;
  }
}

/*スマホ向け*/
@media (max-width: 670px){
  .header-logo, .footer-logo {
    display: block;
    float: none;
    text-align: center;
  }
  footer {
    height: 60px;
  }
  /*ie*/
  _:-ms-lang(x)::-ms-backdrop, footer {
    height: 70px;
  }
  /*edge*/
  @supports (-ms-ime-align: auto) {
    footer {
      height: 70px;
    }
  }
  .footer-logo {
    font-size: 15px;
  }
  .copy-container {
    height: 35px;
  }
  .footer-list {
    display: none;
  }
  .copyright{
    font-size: 10px;
    text-align: center;
  }
}
